.header .navbar-nav a {
    margin-left: 20px;
    text-align: center;
}

.header .navbar-nav a:last-child {
    background-color: #7952b3;
    border: 1px solid #7952b3;
    color: #fff;
    min-width: 120px;
    text-align: center;
    border-radius: 6px;
}